{% extends 'seguranca/base.html' %}
{% load static %}

{% block titulo %}Início{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block conteudo %}
<section class="hero">
    <div class="container hero-content">

        <h1 class="section-title">
            Gerencie suas <span class="highlight">playlists</span><br>
            de forma simples
        </h1>

        <div class="hero-actions">
            <a href="{% url 'listar_musicas' %}" class="btn btn-primary">Explorar músicas</a>
            <a href="{% url 'cadastro' %}" class="btn btn-secondary">Criar conta</a>
        </div>
    </div>
</section>
{% endblock %}