<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Playlist</title>
</head>

<body>
    <h1>Olá, {% firstof user.username "visitante" %}!</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'listar_musicas' %}">Acessar suas músicas</a>
        <br>
        <a href="{% url 'meu-logout' %}">Sair</a>
    {% else %}
        <p>
            Realize <a href="{% url 'login' %}">Login</a> ou <a href="{% url 'cadastro' %}">Cadastre-se</a> para começar a
            montar sua Playlist!
        </p>
    {% endif %}
</body>

</html>