{% extends 'playlists/base.html' %}
{% load static %}

{% block titulo %}Senha Atualizada{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block conteudo %}
<section class="auth-section">
    <div class="auth-card auth-card-login">
        <div class="auth-icon-box">✓</div>

        <h2 class="auth-title">Senha atualizada</h2>
        <p class="auth-subtitle">
            Sua senha foi alterada com sucesso.
        </p>

        <a href="{% url 'homepage' %}" class="btn btn-primary auth-button">Voltar para o início</a>
    </div>
</section>
{% endblock %}