{% extends 'seguranca/base.html' %}
{% load static %}

{% block titulo %}Envio de Link de Recuperação de Senha{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block conteudo %}
<h2>Reset de senha</h2>
<h3>Redefinição de senha enviada</h3>
<p>
    Enviamos-lhe instruções por e-mail para redefinir sua senha, se existir uma conta com o e-mail digitado.
    Você deve recebê-las em breve.
</p>
<p>
    Se você não receber um e-mail, verifique se digitou corretamente o endereço com o qual se registrou e 
    verifique sua pasta de spam.
</p>
{% endblock %}
