{% extends 'seguranca/base.html' %}
{% load static %}

{% block titulo %}Envio de Link de Recuperação de Senha{% endblock %}

{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block conteudo %}
<section class="auth-section">
    <div class="auth-card auth-card-login">
        <div class="auth-icon-box">✉️</div>

        <h2 class="auth-title">E-mail enviado</h2>
        <p class="auth-subtitle">
            Verifique sua caixa de entrada
        </p>

        <div class="auth-message">
            <p>
                Enviamos instruções para redefinir sua senha por e-mail, se existir uma conta com o endereço fornecido.
                Você deve recebê-las em breve.
            </p>
            <p>
                Se você não receber um e-mail, verifique se digitou corretamente o endereço com o qual se registrou e 
                verifique sua pasta de spam.
            </p>
        </div>
    </div>
</section>
{% endblock %}
